@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nerko One', cursive;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 6px;
  background-color: white;
  border: 3px solid #287aaa;
  border-radius: 6px;
  box-shadow: 5px 10px #888888:
}

.task-1.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.task-2.container {
  display: grid;
  height: 100vh;
  grid-template-columns repeat(12, 1fr);
  gap: 15px;
  align-items: center;
}

.height-50 {
  height: 50vh;
}

.task-2 .item-1{
  grid-column: 2 / span 4;
}

.task-2 .item-2 {
  grid-column: 6 / span 6;
}

.task-3-1.container {
  display: grid;
  height: 100vh;
  grid-template-columns repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto auto auto;
  gap: 15px;
}